.Mindscope{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: Large;
    font-weight: bold;
    width: 100%;
    height:auto;
    padding: 10px;
}

.main{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

#logo{
  width: 200px;
  height: 150px;
  align-content: center;
  padding:10px;
}

.logo{
    background-color: brown;
    align-items: center;
    width: 400px;
    height: 300px;
    
        
}

.register_background{
    background-color: brown;
    width: 400px;
    height: 450px;
}

.logo, .register_background{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    align-content: center;
    color: white;
    
}

#redirect-login{
  color: black;
  font-size: small;
}

.register{
    background-color: white;
    padding: 1rem 1rem;
    height: 350px;
    margin-top: 60px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.form_register{
  margin-top: 5px;
  margin-bottom: 5px;
}

input{
    width: 90%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  #user_type {
    width: 90%;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

  }
  

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select {
    background-color: #ddd;
    outline: none;
  }

  a {
    color: dodgerblue;
  }
  
  .registerbtn {
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }


