<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=" viewport" content=" width=device-width, initial-scale= 1.0">
    
    <link rel="stylesheet" href="res_style.css">
    <title> Resources</title>
</head>
<body>
    <header>
        <div class="tab">
            <h3>MindScope</h3>

        </div>
    </header>
    <ul>
        <li class="list1"><a href="#loginpage" >Sign Up/ Log In</a></li>

        <li class="list2"><a href="Resources.html" >Resources</a></li>
        <li class="list2"><a href="#blog" >Blog</a></li>
        <li class="list2"><a href="#events" >Events</a></li>
        <li class="list2"><a href="#services" >Services</a></li>
        <li class="list2"><a href="#about">About</a></li>
        <li class="list2"><a href="#home" >Home</a></li>
        
        
    </ul>

    <div class="box">
        
        <div  id="div1">
            <span class="dot"> Peer Counselors </span>
            <br>
            <br>
            <br>
            <br>
            <span class="dot"> Yoga and Breathing Videos </span>
           
        </div>

        <div id="div2">
            <span class="dot"> Peer Tutors </span>
            <br>
            <br>
            <br>
            <br>
            <span class="dot"> Talent Hunt </span>
           
        </div>

        <div id="div3">
            <span class="dot"> Mental Health </span>
            <br>
            <br>
            <br>
            <br>
            <span class="dot"> Club Registration Form </span>
            
        </div>
    </div>
    


</body>
</html>