

.circ {
    height: 220px;
    width: 220px;
    background-color:rgb(146,15,6);
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    color:white;
    align-items: left;
    line-height: 200px;
    font-size: 25px;
    
   
}
#div1{
    
    float:left;
    width:33%;
}
#div2{
    align-items: center;
    float:left;
    width:34%;
}
#div3{
    align-items: left;
    float:right;
    width:33%;
    
}

.circle_case{
   
    padding: 80px 80px 80px 150px;
    
  
}



 