.toptext{
  font-family:Arial, Helvetica, sans-serif, Arial, sans-serif;
  color: white;
  margin:0;
}

/* used for the top text to create a container */
.box {
  background-color: rgb(146, 15, 6);
  border: 1px solid rgb(146, 15, 6);
  min-height: 50px;
  font-size: 2rem;
  padding: 1px 0;
  margin-left: -12px;
  margin-right: -12px;
}

  /* used for the booking page top picture box */
.box-bookhead{
  margin-top:30px;
  height:250px !important;
  color:black;
  text-align: center;
}

/* used for the container for all booking content */
.bookingbox{
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color:black;
}
  

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}  


  footer{
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 30px;
    color:white;
  }

  
  .recbg{
    background-color: #cccccc;
  }
  
  .btn-custom1{
    background-color: rgb(146, 15, 6);
    color: #fff;
  }
  
  .btn-custom2 {
    background-color: white;
    color: black;
  }
  
  
  .ftco-intro .intro {
    z-index: 0;
    position: relative; }
    @media (min-width: 768px) {
      .ftco-intro .intro {
        margin-top: -70px; } }
    .ftco-intro .intro.aside-stretch {
      background: rgb(146, 15, 6); }
      .ftco-intro .intro.aside-stretch:after {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        content: '';
        width: 360%;
        background: rgb(146, 15, 6);
        z-index: 99; }
      @media (max-width: 991.98px) {
        .ftco-intro .intro.aside-stretch:after {
          background: transparent;
          display: none; } }
  
  .intro {
  width: 100%;
  background: rgb(146, 15, 6);
  padding: 30px;}
  .intro.color-1 {
    background: rgb(146, 15, 6); }
  .intro.color-2 {
    background: rgb(146, 15, 6); }
  .intro .text {
    color: rgba(255, 255, 255, 0.8); }
    .intro .text h2 {
      font-size: 24px;
      font-weight: 500;
      color: #fff; }

.intro-update{
align-content: center;
text-align: center;
}
  
  
  .picture-container {
  width: 50px;
  height: 50px;
  }
  
  img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  }
  
  .text-container {
  padding-left: 10px;
  }
  
  .box-with-picture {
  width: 100%;
  }
      
  
  @media (max-width: 575.98px) {
    body::before {
        content:"";
      /* content: "SM"; */
    }
  }
  
  @media (min-width: 576px) {
    body::before {
        content:"";
      /* content: "SM"; */
    }
  }
  
  @media (min-width: 768px) {
    body::before {
        content:"";
      /* content: "MD"; */
    }
  }
  
  @media (min-width: 992px) {
    body::before {
        content:"";
      /* content: "LG"; */
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
        content:"";
      /* content: "XL"; */
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
        content:"";
      /* content: "XXL"; */
    }
  }


  .container1 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .container1-chatsubmit{
    text-align: center;
    background-color: white;
    border: white;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container1 img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container1 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  
  .chat{
    align-items: center;
    justify-content: center;
  }

  .fit-cover {
    object-fit: cover;
  }